{% extends "base.html.twig" %}
{% block title %}Site Calendars{% endblock %}
{% block page_header %}Site Calendars{% endblock %}
{% block body %}
    <div class="row">
        <div class="pull-right m-r-1 m-b-1">
            <a href="/admin/calendar/add" class="btn btn-common btn-sm">Add A Calendar</a>
        </div>
        <table class="table">
            <thead>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% if calendars is empty %}
                    <td>No calendars have been added to the site.</td>
                {% endif %}
                {% for calendar in calendars %}
                    <tr>
                        <td><a href="/calendar/{{calendar.id}}">{{calendar.title}}</a></td>
                        <td>{{calendar.description}}</td>
                        <td>
                            <a class="btn btn-common btn-sm" href="/admin/calendar/{{calendar.id}}/events">View Events</a>
                            <a class="btn btn-common btn-sm" href="/admin/calendar/{{calendar.id}}/events/add">Add Event</a>
                            <a class="btn btn-common btn-sm" href="/admin/calendar/{{calendar.id}}/edit">Edit Calendar</a>
                            <a class="btn btn-common btn-sm" href="/admin/calendar/{{calendar.id}}/delete">Delete Calendar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}