{% extends "base.html.twig" %}
{% block title %}Delete Role: {{ role.title }}?{% endblock %}
{% block page_header %}Delete Role: {{ role.title }}?{% endblock %}
{% block body %}
    <h3>Are you sure you want to delete role: {{role.title}}? All permission settings for this role will be lost. This action cannot be undone.</h3>
    <form class="shake" action="{{ path('deleteRole', {'role':role.id}) }}" method="post">
            <div class="form-group">
                <label for="hidden" class="sr-only">hidden</label>
                {{form_widget(form.hidden)}}
            </div>
        <button class="btn btn-common btn-md" type="submit" id="form-submit" style="pointer-events: all; cursor: pointer;"><i class="fa fa-trash"></i> Delete Role</button>

        <a href="/admin/roles" class="btn btn-common btn-md m-r-1"><i class="fa fa-ban"></i>Cancel</a>
    </form>
{% endblock %}