{% extends "base.html.twig" %}
{% block title %}Delete Category: {{ category.title }}?{% endblock %}
{% block page_header %}Delete Category: {{ category.title }}?{% endblock %}
{% block body %}
    <h3>Are you sure you want to delete category: {{category.title}} from category group: {{group.title}}? Any child categories will become parent categories.This action cannot be undone.</h3>
    <form class="shake" action="{{ path('deleteGroupCategory', {'group':group.id,'category':category.id}) }}" method="post">
            <div class="form-group">
                <label for="hidden" class="sr-only">hidden</label>
                {{form_widget(form.hidden)}}
            </div>
        <button class="btn btn-common btn-md" type="submit" id="form-submit" style="pointer-events: all; cursor: pointer;"><i class="fa fa-trash"></i> Delete Category</button>

        <a href="/admin/category/{{group.id}}" class="btn btn-common btn-md m-r-1"><i class="fa fa-ban"></i>Cancel</a>
    </form>
{% endblock %}
