{% extends "base.html.twig" %}
{% block title %}Page Not Found (404){% endblock %}
{% block page_header %}Error: Page Not Found!{% endblock %}
{% block body %}
    <div class="row">
        <div id="notfound">
            <div class="notfound-bg"></div>
            <div class="notfound">
                    <div class="notfound-404">
                            <h1>404</h1>
                    </div>
                    <h2>we are sorry, but the page you requested was not found</h2>
                    <a href="/" class="home-btn">Go Home</a>
                    <a href="/contact" class="contact-btn">Contact us</a>
                    <div class="notfound-social">
                        {% if config.facebooklink is not null %}
                            <a href="https://www.facebook.com/{{config.facebooklink}}" target="_blank" ><i class="fa fa-facebook"></i></a>
                        {% endif %}
                        {% if config.twitterlink is not null %}
                            <a href="https://www.twitter.com/{{config.twitterlink}}" target="_blank" ><i class="fa fa-twitter"></i></a>
                        {% endif %}
                        {% if config.linkedinlink is not null %}
                            <a href="https://www.linkedin.com/{{config.linkedinlink}}" target="_blank" ><i class="fa fa-linkedin"></i></a>
                        {% endif %}
                        {% if config.googlelink is not null %}
                            <a href="https://www.plus.google.com/{{config.googlelink}}" target="_blank" ><i class="fa fa-google-plus"></i></a>
                        {% endif %}
                        {% if config.instagramlink is not null %}
                            <a href="https://www.instagram.com/{{config.instagramlink}}" target="_blank" ><i class="fa fa-instagram"></i></a>
                        {% endif %}
                        {% if config.youtubelink is not null %}
                            <a href="https://www.youtube.com/{{config.youtubelink}}" target="_blank" ><i class="fa fa-youtube"></i></a>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
