
  <!-- Row Starts -->
  <div class="row section">
    <!-- Footer Widget Starts -->
    {% for block in footer_blocks %}
        {% if block.enabled == true %}
           {{ include('blocks/block-footer-container.html.twig') }}
        {% endif %}
    {% endfor %}
  </div><!-- Row Ends -->

<!-- Copyright -->
<div id="copyright" class="col-md-12">
    <div class="row" style="padding-left:5px;">
      <div class="col-md-6 col-sm-6">
        <p class="copyright-text">
          ©  2018 Eastway Custom Homes. All rights reserved. Developed by <a href="https://www.indydevguy.com">IndyDevGuy</a>
        </p>
      </div>
      <div class="col-md-6  col-sm-6">
        <div class="social-footer pull-right" style="padding-right: 40px;">
            {% if config.facebooklink is not null %}
                <a href="https://www.facebook.com/{{config.facebooklink}}" target="_blank"><i class="fa fa-facebook icon-round"></i></a> 
            {% endif %}
            {% if config.twitterlink is not null%}
                <a href="https://www.twitter.com/{{config.twitterlink}}" target="_blank"><i class="fa fa-twitter icon-round"></i></a> 
            {% endif %}
            {% if config.youtubelink is not null %}
                <a href="https://www.youtube.com/{{config.youtubelink}}" target="_blank"><i class="fa fa-youtube icon-round"></i></a> 
            {% endif %}
            {% if config.instagramlink is not null %}
                <a href="https://www.instagram.com/{{config.instagramlink}}" target="_blank"><i class="fa fa-instagram icon-round"></i></a>
            {% endif %}
            {% if config.linkedinlink is not null %}
                <a href="https://www.linkedin.com/{{config.linkedinlink}}" target="_blank"><i class="fa fa-linkedin icon-round"></i></a> 
            {% endif %}
            {% if config.googlelink is not null %}
                <a href="https://www.plus.google.com/{{config.googlelink}}" target="_blank"><i class="fa fa-google-plusog icon-round"></i></a> 
            {% endif %}
        </div>
      </div>
    </div>
</div>
<!-- Copyright  End-->