{% macro navbarMacro(menuItem, hasCategory, isCategory) %}
    {% import _self as self %}
    {% if hasCategory %}
        {% set categories = menuItem.categorygroup.categories %}
        {% for category in categories %}
            {% if category.parent == null %}
                {% if category.childrencount > 0 %}
                    <li class="dropdown-submenu">
                        <a class="dropdown-toggle dropdown-item" href="{{menuItem.categorygroup.url}}{{category.url}}">{{category.title}} <i class="fa fa-caret-right pull-right"></i></a>
                        <ul class="dropdown-menu">
                            {{ self.navbarMacro(category, false, true) }}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a class="dropdown-item" href="{{menuItem.categorygroup.url}}{{category.url}}">{{category.title}}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for child in menuItem.children %}
            {% if child.childrencount > 0 %}
                <li class="dropdown-submenu">
                    <a class="dropdown-toggle dropdown-item" href="{% if isCategory %}{{menuItem.categorygroup.url}}{% endif %}{{child.url}}">{{child.title}} <i class="fa fa-caret-right pull-right"></i></a>
                    <ul class="dropdown-menu">
                        {{ self.navbarMacro(child, false, isCategory) }}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a class="dropdown-item" href="{% if isCategory %}{{menuItem.categorygroup.url}}{% endif %}{{child.url}}">{{child.title}}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
