{% extends "base.html.twig" %}
{% block title %}Delete Project: {{ project.title }}?{% endblock %}
{% block page_header %}Delete Project: {{ project.title }}?{% endblock %}
{% block body %}
    <h3>Are you sure you want to delete project: {{project.title}}? This action cannot be undone.</h3>
    <form class="shake" action="{{ path('deleteProject', {'project':project.id}) }}" method="post">
            <div class="form-group">
                <label for="hidden" class="sr-only">hidden</label>
                {{form_widget(form.hidden)}}
            </div>
        <button class="btn btn-common btn-md" type="submit" id="form-submit" style="pointer-events: all; cursor: pointer;"><i class="fa fa-trash"></i> Delete Project</button>

        <a href="/admin/projects" class="btn btn-common btn-md m-r-1"><i class="fa fa-ban"></i>Cancel</a>
    </form>
{% endblock %}